Técnica:
              Se realizó densitometría ósea con análisis sobre la columna lumbar y del triángulo de Ward de ambas caderas en forma comparativa con los estándares promedio para su edad y sexo

La densidad de la masa ósea es :
columna lumbar    1.336,       cadera derecha 1.010,         cadera izquierda1.001

COMPARACIÓN PACIENTE/ JOVEN.

T Score       - 4.7                      lumbar.
T Score       - 0.6                      cadera derecha
T Score       - 0.7                      cadera izquierda



CONCLUSIONES:
SIN ALTERACIONES EN LA MASA OSEA DE AMBAS CADERA  Y COLUMNA LUMBAR, CON DENSIDAD OSEA DENTRO DE LIMITES NORMALES.

COMENTARIO: correlacionar clínicamente.
RECOMENDACIONES: control anual posterior
