{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block contenido %}
<div class="col-md-20 col-md-offset-0">
    <form id="form_wrapper" enctype="multipart/form-data">
        <legend>Estudios Con Interpretación Registrados</legend>

    </form>
    <table>
    {% crispy form%}
    </table>
    <th>
        <hr id='hrline'>
    </th>
  </div>
    <table class="table table-striped table-hover table-bordered" style="width:100%" border="0">
        <thead>
            <tr>
                <th bgcolor="#939393"><label>Nombre Del Estudio</label></th>
                <th bgcolor="#939393"><label>Editar</label></th>
                <th bgcolor="#939393"><label>Eliminar</label></th>
            </tr>
        </thead>
        {% for post in object_list %}
             <tr>
                    <td style="text-align: center; color:black">
                         {{ post.nombre_estudio }}
                    </td>
                    <td style="text-align:center">
                        <a  href="{% url 'editarinterpretaciondefault' id=post.pk%}">Ir</a>
                    </td>
                    <td style="text-align:center"> 
                    <a href="{% url 'eliminarmachotes' id=post.pk %}">
                      <img src="{{STATIC_URL}}img/eliminar.png" style="width:20px; height:20px"/></a>
                    </a>
                  </td>
              </tr>

            {% endfor %}
    </table>
    <center>
    {% if is_paginated %}
        <div class="pagination">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li>
                    <a href="?nombre={{nombre}}&hospital={{hospital}}}&page={{ page_obj.previous_page_number }}">&laquo;</a>
                </li>
                {% endif %}
                <li>
                    <a href="#">&nbsp;Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
                </li>
                {% if page_obj.next_page_number <= page_obj.paginator.num_pages %}
                <li>
                    <a href="?nombre={{nombre}}&hospital={{hospital}}&page={{page_obj.next_page_number}}">&raquo;</a>
                </li>
                {% endif %}
            </ul>
        </div>
            {% endif %}
    </center>
</div>
{% endblock %}
