<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p align="center"><strong>
    Este correo electrónico fue generado de manera automática, <br>
    el contenido de este correo se ha enviado solo al destinatario <br>
    y puede contener información confidencial. <u>POR FAVOR NO RESPONDA A ESTE CORREO,</u><br>
    las respuestas a esta dirección de correo no serán leídas, <br>
    Si recibió este correo por error o tiene alguna duda o comentario, <br>
    contáctenos en: <a href="mailto:claims@mediexcel.com">davidaguilar33@gmail.com</a>
    </strong>
    </p>
    <div align="center">
        <img src="cid:Mailtrapimage" style="width: 200px; height: 100px ">
    </div>
</body>
</html>